<template>
  <div class="gamebox">
      <div class="player-list">
        <PlayersList/>
      </div>

      <div class="game-field">

        <div class="navbar-gamebox">
          <NavBar/>
          <button @click="leaveRoom" class="leave-btn">ПОКИНУТЬ ИГРУ</button>
        </div>

        <div class="game">
          <GameField :roomId="$route.query.roomId" />
          <DiceRoller />
          <ChatBox :roomId="$route.query.roomId" />
        </div>
        
      </div>

  </div>
  </template>
  
  <script>
  import { io } from 'socket.io-client';
  import ChatBox from '../components/ChatBox.vue';
  import GameField from '../components/GameField.vue';
  import DiceRoller from '../components/DiceRoller.vue';
  import NavBar from '../components/NavBar.vue'
  import PlayersList from '../components/PlayersList.vue';
  import axios from 'axios';
  import { onMounted, ref } from 'vue';
  import { authenticateUser } from "../helpers/authenticateUser";
  import { useStore } from 'vuex';
  import { useRoute } from 'vue-router';

  
  export default {
    name: 'GameView',
    setup() {
    const socket = io('http://localhost:3000');
    const store = useStore();
    const route = useRoute();
    store.commit('setSocket', socket);
    store.commit('setRoomId', route.query.roomId);

    const isAuthenticated = ref(false);

    onMounted(async () => {
      isAuthenticated.value = await authenticateUser();
    });

    return {
      isAuthenticated,
      socket
    };
    },
    components: {
      ChatBox,
      GameField,
      DiceRoller,
      NavBar,
      PlayersList
    },
    data() {
      return {
        roomId: this.$route.query.roomId,
        isLoading: true
      };
    },
    mounted() {
  this.isLoading = true;
  const roomId = this.$route.query.roomId;
  if (roomId) {
    this.socket.emit('joinRoom', roomId, this.$store.state.userId);


    axios.get(`http://localhost:3000/api/message/messages/${roomId}`)
         .then(response => {
             this.textOutput = response.data.map(message => `<${message.email}> ${message.text}`);
             this.isLoading = false;
         })
         .catch(error => {
             console.error('Error fetching messages:', error);
             this.isLoading = false;
         });
  } else {
    console.error('Room ID not found');
    this.isLoading = false;
  }
},
unmounted() {
  this.leaveRoom();
},

    methods: {
  leaveRoom() {
    this.socket.emit('leaveRoom', this.roomId, this.$store.state.userId);
    this.$router.push('/mygames');
  }
},
  }
  </script>

<style scoped>
@font-face {
    font-family: SeoulNamsanCondensed-Bold;
    src: url(../fonts/SeoulNamsanCondensed-Bold.ttf);
}

.gamebox{
  display: flex;
  flex-direction: row;
}
.navbar{
  margin: 0;
  padding: 0;
  width: 1450px;
}
.container{
  margin: 0;
  padding: 0;
  width: 1450px;
}
.player-list{
  width: 220px;
  height: 100%;
  background-color: #F3F8FF;
}
.leave-btn{
  background-color: #7E30E1;
  font-family: SeoulNamsanCondensed-Bold;
  font-size: 40px;
  letter-spacing: 8%;
  border: none;
  height: 210px;
  width: 370px;
  color: #FFFFFF;
  
}
.game{
  display: flex;
  flex-direction: row;
}
.navbar-gamebox{
  display: flex;
  flex-direction: row;
  padding: 0;
}
</style>