<template>
    <body>
    <NavBar/>
    <div class="container">
        <div class="banner">
          <img src="../assets/logo.svg" alt="Logo">
        </div>
        <div class="about-box">
          <h3>О проекте</h3>
          <hr class="bracking-line">
          <p class="about-text">
            <b>Adventurium</b> - это веб-приложение, разрабатываемое 
            в качестве выпуской квалификационной работы студента 4-го курса 
            группы ПИН/б-20-1-о Севастопольского государственного университета.
            Представляет собой игровой стол для прведения игровых сессий по 5-й 
            редакции правил системы Подземелья и Драконы.
          </p>
        </div>
    </div>
  </body>
</template>
   
  <script>
import { onMounted, ref } from 'vue';
import NavBar from "@/components/NavBar";
import { authenticateUser } from "../helpers/authenticateUser";
  
  export default {
    name: "HomeView",
    components: {NavBar},
    setup() {
    const isAuthenticated = ref(false);

    onMounted(async () => {
      isAuthenticated.value = await authenticateUser();
    });

    return {
      isAuthenticated
    };
    },
  };
  </script>
  
<style scoped>
@font-face {
    font-family: SeoulNamsanCondensed-Black;
    src: url(../fonts/SeoulNamsanCondensed-Black.ttf);
}
@font-face {
    font-family: SeoulNamsanCondensed-Light;
    src: url(../fonts/SeoulNamsanCondensed-Light.ttf);
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.banner{
  display: flex;
  background-color: #E26EE5;
  height: 549px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 6px 4px 0 rgba(73, 16, 139, 0.2);
  z-index: 2;
}
.about-box{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100vh;
}
h3{
  font-family: SeoulNamsanCondensed-Black;
  font-size: 48px;
  color: #7E30E1;
  margin: 82px 0px 82px 129px;
}
.bracking-line{
  border: 2px solid #7E30E1;
  opacity: 100%;
  margin: 0px 82px 0px 82px;
}
.about-text{
  font-family: SeoulNamsanCondensed-Light;
  font-size: 32px;
  line-height: 65px;
  color: #49108B;
  margin: 82px 128px 0px 128px;
}
</style>
