<template>
    <NavBar />
    <div class="container">
        <div class="login-box">
            <div class="login">
            <form @submit.prevent="submit">
                <h1>Войти</h1>
                <hr class="bracking-line">
                <div class="input">
                    <p class="purple-text">Адрес электронной почты</p>
                    <input v-model="data.email" type="email" class="form-control" placeholder="email@">
                </div>
                <div class="input">
                    <p class="purple-text">Пароль</p>
                    <input v-model="data.password" type="password" class="form-control" placeholder="********">
                </div>
                <button class="btn purple-btn white-text" type="submit">Отправиться В Приключение</button>
                 <div class="password-box">
                    <router-link to="/password" class="password">Забыли пароль?</router-link>
                 </div>
            </form>
        </div>
        </div>
    </div>
</template>

<script>
import { reactive } from 'vue';
import { useRouter } from 'vue-router';
import NavBar from "@/components/NavBar"

export default {
    name: "LoginView",
    components: { NavBar },
    setup() {
        const data = reactive({
            email: '',
            password: ''
        });
        const router = useRouter();

        const submit = async () => {
            await fetch('http://localhost:3000/api/auth/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                credentials: 'include',
                body: JSON.stringify(data)
            });

            await router.push('/');
        }

        return {
            data,
            submit
        }
    }
}
</script>

<style scoped>
@font-face {
    font-family: SeoulNamsanCondensed-Black;
    src: url(../fonts/SeoulNamsanCondensed-Black.ttf);
}
@font-face {
    font-family: SeoulNamsanCondensed-Light;
    src: url(../fonts/SeoulNamsanCondensed-Light.ttf);
}
@font-face {
    font-family: SeoulNamsanCondensed-ExtraBold;
    src: url(../fonts/SeoulNamsanCondensed-ExtraBold.ttf);
}
@font-face {
    font-family: SeoulNamsanCondensed-Medium;
    src: url(../fonts/SeoulNamsanCondensed-Medium.ttf);
}
@font-face {
    font-family: SeoulNamsanCondensed-Bold;
    src: url(../fonts/SeoulNamsanCondensed-Bold.ttf);
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
}
.login-box{
    width: 100%;
    background-color: #E26EE5;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.login {
    width: 658px;
    height: 800px;
    background-color: #FFFFFF;
    border-radius: 77px;
    margin-top: 121px;
    margin-bottom: 121px;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
}

h1{
    font-family: SeoulNamsanCondensed-Bold;
    font-size: 48px;
    color: #7E30E1;
    letter-spacing: 6%;
    text-align: center;
    margin: 88px 0 58px 0;
}
.bracking-line{
  border: 2px solid #7E30E1;
  opacity: 100%;
  margin: 0px 56px 0px 56px;
}
.purple-text{
    font-family: SeoulNamsanCondensed-Bold;
    font-size: 24px;
    line-height: 70%;
    letter-spacing: 6%;
    color: #49108B;
}
.purple-btn {
    background-color: #7E30E1;
    width: 473px;
    height: 60px;
    border-radius: 8px;
    margin: 58px 95px 0 90px;
}
.white-text {
    font-family: SeoulNamsanCondensed-Light;
    font-size: 24px;
    line-height: 70%;
    letter-spacing: 6%;
    color: #F3F8FF;
}
.input{
    margin: 26px 92px 0 92px;
}
.password-box{
    margin: 53px auto 0 auto;
    text-align: center;
}
.password{
    text-decoration: none;
    font-family: SeoulNamsanCondensed-Medium;
    font-size: 20px;
    line-height: 70%;
    letter-spacing: 6%;
    color: #49108B;
}
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>
