<template>
  <NavBar />
  <div class="container">
      <div class="bkg">
          <CreateGame/>
          <GamesTable/>
          <JoinGame />
      </div>
  </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import { authenticateUser } from "../helpers/authenticateUser";
import NavBar from "@/components/NavBar";
import CreateGame from "@/components/CreateGame";
import GamesTable from "@/components/GamesTable";
import JoinGame from "@/components/JoinGame"; 
export default {
name: "MyGamesView",
components: { NavBar, CreateGame, GamesTable, JoinGame }, 
setup() {
  const isAuthenticated = ref(false);

  onMounted(async () => {
    isAuthenticated.value = await authenticateUser();
  });

  return {
    isAuthenticated
  };
}
};
</script>

<style scoped>
.container{
  display: flex;
}
.bkg{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}
</style>
