<template>
    <NavBar />
    <div class="container">
        <div class="profile-box">
            <div class="avatar-box">
                <form>
                    <img ref="avatarImg" :src="user.avatar" alt="Avatar" class="avatar">
                    <div class="buttons">
                        <button class="btn pink-btn white-text" @click.prevent="uploadAvatar">Загрузить</button>
                        <button class="btn white-btn pink-text" @click.prevent="deleteAvatar">Удалить</button>
                    </div>
                </form>
            </div>
            <div class="discription-box">
                <form class="discription" @submit.prevent="saveUser">
                    <input v-model="user.name" class="username" :placeholder="user.name ? user.name : ' '"
                        ref="username" />
                    <hr class="bracking-line">
                    <textarea v-model="user.description" ref="discriptionTextarea" class="discription-textarea" rows="4"
                        cols="10" placeholder=" "></textarea>
                    <div class="btn-box">
                        <button class="btn purple-btn white-strong-text" type="submit">Редактировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import NavBar from "@/components/NavBar";
import { authenticateUser } from "@/helpers/authenticateUser";

export default {
    name: "ProfileView",
    components: { NavBar },
    setup() {
        const isAuthenticated = ref(false);

        onMounted(async () => {
            isAuthenticated.value = await authenticateUser();
        });

        return {
            isAuthenticated
        };
    },
    data() {
        return {
            user: {
                name: "",
                description: "",
                avatar: null,
                avatarFlag: false
            },
        };
    },
    mounted() {
        this.loadUser();
    },
    methods: {
        async loadUser() {
  try {
    const response = await fetch("http://localhost:3000/api/user/user-info", {
      credentials: 'include',
    });
    const data = await response.json();
    this.user = data;


    this.$nextTick(() => {
      this.user.name && (this.$refs.username.value = this.user.name);
    });


    this.$nextTick(() => {
      this.user.description && (this.$refs.discriptionTextarea.value = this.user.description);
    });


    this.$nextTick(() => {
      if (this.user.avatarFlag != false) {
        this.$refs.avatarImg.src = "http://localhost:3000/api/user/avatar";
      } else {
        this.$refs.avatarImg.src = require("../assets/logo.svg");
      }
    });
  } catch (e) {
    console.error(e);
  }
},
        async uploadAvatar() {
            const fileInput = document.createElement("input");
            fileInput.type = "file";
            fileInput.accept = "image/jpeg";
            fileInput.onchange = async () => {
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = async () => {
                    const avatarData = reader.result;
                    const resizedAvatar = await this.resizeImage(avatarData, 380, 380);
                    this.user.avatar = resizedAvatar;
                    this.user.avatarFlag = true;
                    await this.updateAvatar();
                };
                reader.readAsDataURL(file);
            };
            fileInput.click();
        },
        async deleteAvatar() {
            this.user.avatarFlag = false;
            this.user.avatar = 'null';
            await this.updateAvatar();
            this.$refs.avatarImg.src = require("../assets/logo.svg");
        },
        async updateAvatar() {
            try {
                await fetch("http://localhost:3000/api/user/avatar", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    credentials: 'include',
                    body: JSON.stringify({ avatar: this.user.avatar, avatarFlag: this.user.avatarFlag }),
                });

            } catch (e) {
                console.error(e);
            }
        },
        async saveUser() {
            try {
                this.user.name = this.$refs.username.value;
                this.user.description = this.$refs.discriptionTextarea.value;
                await fetch("http://localhost:3000/api/user/user-info", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    credentials: 'include',
                    body: JSON.stringify(this.user),
                });
            } catch (e) {
                console.error(e);
            }
        },
        async resizeImage(dataURL, width, height) {
            return new Promise((resolve) => {
                const img = new Image();
                img.onload = () => {
                    const canvas = document.createElement("canvas");
                    canvas.width = width;
                    canvas.height = height;
                    const ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0, width, height);
                    const resizedDataUrl = canvas.toDataURL("image/jpeg");
                    resolve(resizedDataUrl);
                };
                img.src = dataURL;
            });
        }
    }
};
</script>

<style scoped>
@font-face {
    font-family: SeoulNamsanCondensed-Black;
    src: url(../fonts/SeoulNamsanCondensed-Black.ttf);
}

@font-face {
    font-family: SeoulNamsanCondensed-Bold;
    src: url(../fonts/SeoulNamsanCondensed-Bold.ttf);
}

@font-face {
    font-family: SeoulNamsanCondensed-ExtraBold;
    src: url(../fonts/SeoulNamsanCondensed-ExtraBold.ttf);
}

@font-face {
    font-family: SeoulNamsanCondensed-Light;
    src: url(../fonts/SeoulNamsanCondensed-Light.ttf);
}

.container {
    display: flex;
    flex-direction: row;

}

.profile-box {
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 100vh;
    padding-top: 163px
}

.avatar-box {
    display: flex;
    flex-direction: column;
    margin-left: 51px;
}

img {
    border: 10px solid #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 56px;
    justify-content: space-between;
}

.pink-btn {
    background-color: #E26EE5;
    width: 181px;
    height: 80px;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
    border-radius: 23px;
}

.white-text {
    color: #FFFFFF;
    font-family: SeoulNamsanCondensed-Black;
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 6%;
}

.white-btn {
    border: 1px solid #E26EE5;
    width: 181px;
    height: 80px;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
    border-radius: 23px;
}

.pink-text {
    color: #E26EE5;
    font-family: SeoulNamsanCondensed-Black;
    font-size: 24px;
    line-height: 70px;

}

.username {
    color: #7E30E1;
    font-family: SeoulNamsanCondensed-Bold;
    font-size: 64px;
    letter-spacing: 6%;
    margin-bottom: 38px;
    border: none;
}

.bracking-line {
    border: 3px solid #7E30E1;
    opacity: 100%;
}

.discription-box {
    margin-left: 63px;
    margin-right: 83px;
    width: 100%;

}

.discription {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.discription-textarea {
    width: 100%;
    height: 320px;
    margin-top: 47px;
    border-color: #7E30E1;
    background-color: #F3F8FF;
    border-radius: 8px;
    color: #49108B;
    font-family: SeoulNamsanCondensed-Light;
    font-size: 32px;
    line-height: 65px;
    letter-spacing: 6%;
    resize: none;
}

.purple-btn {
    width: 265px;
    height: 80px;
    border-radius: 23px;
    background-color: #7E30E1;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
    margin-top: 52px;
}

.white-strong-text {
    font-family: SeoulNamsanCondensed-ExtraBold;
    color: #F3F8FF;
    font-size: 32px;
    line-height: 70px;
    letter-spacing: 6%;
}

.btn-box {
    display: flex;
    justify-content: end;
}
</style>