<template>
  <div class="chatbox">
    <div id="output" ref="output">
      <p v-for="(text, index) in textOutput" :key="index" class="text-msg">{{ text }}</p>

    </div>
    <div id="input">
      <form @submit.prevent="submitText">
        <input type="text" v-model="textInput" placeholder="Введите текст" />
        <button type="submit" class="pink-btn">Отправить</button>
      </form>
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex';
import { ref } from 'vue';
 
export default {
  name: 'ChatBox',
  setup() {
    const store = useStore();
    const socket = ref(store.state.socket);
    return { socket };
    },
  data() {
    return {
      textInput: null,
      textOutput: [],
      username: ""
    };
  },
  methods: {
    submitText() {
      const roomId = this.$route.query.roomId;
      this.socket.emit('send', this.textInput, roomId, this.username);
      this.textInput = '';
    },
    async loadUser() {
      try {
        const response = await fetch("http://localhost:3000/api/user/user-info", {
          credentials: 'include',
        });
        const data = await response.json();
        this.username = data.name;
      } catch (e) {
        console.error(e);
      }
    }
  },
  created() {
    this.loadUser();

},
  mounted() {
    const roomId = this.$route.query.roomId;

    this.socket.on('receive', (message) => {
      if (message.roomId === roomId) {
        this.textOutput.push(`${message.username} - ${message.text}`);
      }
    });

    this.socket.on('history', ({ messages, roomId }) => {
    if (roomId === this.$route.query.roomId) {
      messages.forEach(message => {
        if (message.roomId === this.$route.query.roomId) {
          this.textOutput = messages.map(message => `${message.username} - ${message.text}`);
        }
      });
    }
  });
  }
};
</script>


<style scoped>
@font-face {
  font-family: SeoulNamsanCondensed-Light;
  src: url(../fonts/SeoulNamsanCondensed-Light.ttf);
}

@font-face {
  font-family: SeoulNamsanCondensed-Bold;
  src: url(../fonts/SeoulNamsanCondensed-Bold.ttf);
}

.chatbox {
  display: flex;
  flex-direction: column;

}

.text-msg {
  font-family: SeoulNamsanCondensed-Bold;
  font-size: 32px;
  letter-spacing: 6%;
  color: #49108B;
}

input {
  width: 276px;
  height: 80px;
  border-radius: 23px;
  border: 1px solid #E26EE5;
  box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
  font-family: SeoulNamsanCondensed-Light;
  font-size: 24px;
  letter-spacing: 6%;
  color: #B0B0B0;
  padding-left: 36px;
}

.pink-btn {
  width: 181px;
  height: 80px;
  border-radius: 23px;
  background-color: #E26EE5;
  border: none;
  font-family: SeoulNamsanCondensed-Light;
  font-size: 24px;
  letter-spacing: 6%;
  color: #FFFFFF;
  margin-left: 32px;
}

#output {
  overflow-y: auto;
  padding-left: 19px;
  width: 510px;
  height: 600px;

}

#input {
  padding-left: 19px;
}

form {
  display: flex;
  flex-direction: row;
}
</style>