<template>
    <div class="description-box">
      <form class="description">
        <div class="game-description">
          <input v-model.trim="room.name" class="room-name" placeholder="Введите название игры" ref="gameName" />
          <hr class="breaking-line" />
          <textarea v-model.trim="room.description" ref="descriptionTextarea" class="description-textarea"
            rows="4" cols="10" placeholder="Введите описание Вашей игры..."></textarea>
        </div>
        <div class="buttons">
          <button class="btn pink-btn white-text" @click="createRoom">Создать Новую Игру</button>
        </div>
      </form>
    </div>
  </template>
  
  <script>
  import axios from "axios";
  
  export default {
    name: "CreateGame",
    data() {
      return {
        room: {
          name: "",
          description: "",
          roomId: ""
        },
        socket: null,
        textOutput: [],
      };
    },
    methods: {
      async createRoom() {
        this.room.roomId = this.room.name;
        await this.saveRoomToDatabase();
      },
      async saveRoomToDatabase() {
        try {
          await axios.post("http://localhost:3000/api/room/create", this.room);
          console.log("Room saved to database successfully");
        } catch (error) {
          console.error("Error saving room to database:", error);
        }
      },

    },
    created() {}
  };
  </script>


<style scoped>
@font-face {
    font-family: SeoulNamsanCondensed-Black;
    src: url(../fonts/SeoulNamsanCondensed-Black.ttf);
}

@font-face {
    font-family: SeoulNamsanCondensed-Bold;
    src: url(../fonts/SeoulNamsanCondensed-Bold.ttf);
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 124px;

}

.pink-btn {
    background-color: #E26EE5;
    width: 332px;
    height: 80px;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
    border-radius: 23px;
}

.white-text {
    color: #FFFFFF;
    font-family: SeoulNamsanCondensed-Black;
    font-size: 24px;
    line-height: 70px;
    letter-spacing: 6%;
}

.white-btn {
    border: 1px solid #E26EE5;
    width: 332px;
    height: 80px;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
    border-radius: 23px;
    margin-top: 90px;
}

.pink-text {
    color: #E26EE5;
    font-family: SeoulNamsanCondensed-Black;
    font-size: 24px;
    line-height: 70px;

}

.room-name {
    color: #7E30E1;
    font-family: SeoulNamsanCondensed-Bold;
    font-size: 64px;
    letter-spacing: 6%;
    margin-bottom: 38px;
    border: none;
    width: 650px;
}

.breaking-line {
    border: 3px solid #7E30E1;
    opacity: 100%;
    width: 100%;
}

.description-box {
    margin-top: 100px;
}

.description {
    display: flex;
    flex-direction: row;
}

.game-description {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.description-textarea {
    width: 650px;
    height: 409px;
    margin-top: 47px;
    border-color: #7E30E1;
    background-color: #F3F8FF;
    border-radius: 8px;
    color: #49108B;
    font-family: SeoulNamsanCondensed-Light;
    font-size: 32px;
    line-height: 65px;
    letter-spacing: 6%;
    resize: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>