<template>
    <div class="container">
        <div class="dice">
            <img src="../assets/d4.svg" alt="D4" @click="rollDice(4)" />
        </div>
        <div class="dice">
            <img src="../assets/d6.svg" alt="D6" @click="rollDice(6)" />
        </div>

        <div class="dice">
            <img src="../assets/d8.svg" alt="D8" @click="rollDice(8)" />
        </div>

        <div class="dice">
            <img src="../assets/d10.svg" alt="D10" @click="rollDice(10)" />
        </div>

        <div class="dice">
            <img src="../assets/d12.svg" alt="D12" @click="rollDice(12)" />
        </div>

        <div class="dice">
            <img src="../assets/d20.svg" alt="D20" @click="rollDice(20)" />
        </div>

        <div class="dice">
            <img src="../assets/d100.svg" alt="D100" @click="rollDice(100)" />
        </div>

    </div>
</template>


<script>
import { useStore } from 'vuex';
import { ref } from 'vue';

export default {
    name: 'DiceRoller',
    setup() {
    const store = useStore();
    const socket = ref(store.state.socket);
    return { socket };
    },
    data() {
        return {
            rollResult: null,
            username: ""
        };
    },
    created(){
        this.loadUser();
    },
    mounted() {
        this.socket.on('dice_roll', (roll) => {
            this.rollResult = roll;
        });
    },
    methods: {
        rollDice(sides) {
            const roomId = this.$route.query.roomId;
            const username = this.username
            this.socket.emit('roll_dice', roomId, sides, username);
        },
        async loadUser() {
            try {
                const response = await fetch("http://localhost:3000/api/user/user-info", {
                    credentials: 'include',
                });
                const data = await response.json();
                this.username = data.name;
            } catch (e) {
                console.error(e);
            }
        }
    },
};
</script>

<style scoped>
.container {
    position: fixed;
    top: 700px;
    left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dice {
    display: flex;
    flex-direction: row;
    background-color: #F3F8FF;
    border-radius: 15px;
    border: 1px solid #49108B;
    box-shadow: 0 4px 4px 0 rgba(73, 16, 139, 0.2);
    margin-left: 19px;
}
</style>