<template>
    <div class="box">
        <div class="fildbox" :id="containerId" v-if="downloaded" />
        <div class="placeholder fildbox" v-else>
            Downloading...
        </div>
        <input type="file" @change="handleFileChange" />
    </div>
</template>

<script>
import { useStore } from 'vuex';
import { ref } from 'vue';
import axios from 'axios';

export default {
    name: 'GameField',
    setup() {
    const store = useStore();
    const socket = ref(store.state.socket);
    return { socket };
    },
    data: function () {
        return {
            downloaded: false,
            gameInstance: null,
            containerId: 'game-container',
            gameObject: null,
            backgroundImage: null
        };
    },
    methods: {
        handleFileChange(event) {
            const file = event.target.files[0];
            const formData = new FormData();
            formData.append('image', file);
            formData.append('roomId', this.$route.query.roomId);

            axios.post('http://localhost:3000/api/room/uploadImage', formData, {
                headers: {
                    'Content-Type': 'ultipart/form-data'
                }
            })
                .then(response => {
                    const imageUrl = `http://localhost:3000/${response.data.imageUrl}`;
                    this.socket.emit('setBackgroundImage', this.$route.query.roomId, imageUrl);
                    this.$nextTick(() => {
                        this.gameInstance.scene.scenes[0].setBackgroundImage(imageUrl);
                    });
                })
                .catch(error => {
                    console.error(error);
                });
        },

        async getBackgroundImage() {
            const roomId = this.$route.query.roomId;
             try {
                const response = await axios.get(`http://localhost:3000/api/room/getImage/${roomId}`);
                this.backgroundImage = `http://localhost:3000/${response.data.imageUrl}`;
                this.$nextTick(() => {
                this.gameInstance.scene.scenes[0].setBackgroundImage(this.backgroundImage);
                });
            } catch (error) {
                console.error(error);
            }
        },
    },
    created() {
    },
    async mounted() {
        const game = await import('../game/game');
        this.downloaded = true;
        this.$nextTick(() => {
            const containerId = 'game-container';
            this.gameInstance = game.launch(containerId, this.$route.query.roomId, this.socket);
            this.gameObject = this.gameInstance.gameObject;

            this.getBackgroundImage();
        });

    },
    unmounted() {
        this.gameInstance.destroy(false);
    },

}
</script>

<style scoped>
.fildbox {
    width: 1180px;
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
}
</style>