<template>
        <div class="join-box">
            <input class="join-room" v-model.trim="roomId" placeholder="Введите Room ID" />
            <button class="btn white-btn pink-text" @click="joinRoom">Подключиться</button>
        </div>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import axios from 'axios';

export default {
    name: 'JoinGame',
    setup() {
        const router = useRouter();
        const roomId = ref('');

        const joinRoom = async () => {
            try {
                const exists = await checkRoomExistence(roomId.value);
                if (exists) {
                    router.push({ name: 'GameView', query: { roomId: roomId.value } });
                } else {
                    alert('Комната с таким Room ID не существует!');
                }
            } catch (error) {
                console.error('Ошибка при проверке комнаты:', error);
                alert(`Комнаты ${roomId.value} не существует!`);
            }
        };

        const checkRoomExistence = async (roomId) => {
            try {
                const response = await axios.get(`http://localhost:3000/api/room/checkRoom/${roomId}`);
                return response.data.exists;
            } catch (error) {
                console.error('Ошибка при проверке комнаты:', error);
                throw error;
            }
        };

        return {
            roomId,
            joinRoom
        };
    }
};

</script>

<style scoped>
@font-face {
    font-family: SeoulNamsanCondensed-Black;
    src: url(../fonts/SeoulNamsanCondensed-Black.ttf);
}

@font-face {
    font-family: SeoulNamsanCondensed-Bold;
    src: url(../fonts/SeoulNamsanCondensed-Bold.ttf);
}

.join-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.white-btn {
    border: 1px solid #E26EE5;
    width: 332px;
    height: 80px;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
    border-radius: 23px;
    margin-left: 100px;
}

.pink-text {
    color: #E26EE5;
    font-family: SeoulNamsanCondensed-Black;
    font-size: 24px;
}

.join-room{
    border-color: #7E30E1;
    background-color: #F3F8FF;
    border-radius: 8px;
    height: 80px;
    color: #49108B;
    font-family: SeoulNamsanCondensed-Light;
    font-size: 32px;
    letter-spacing: 6%;
    resize: none;
}

</style>