<template>
    <div class="container">
        <div class="navbar">
        <div class="logo-space">
            <router-link to="/" class="logo">
                    ADVENTURIUM
            </router-link>
        </div>
            <div class="navbar-links" v-if="!auth">
                <div class="navbar-item">
                    <router-link to="/login" class="nav-link active">
                        <button type="button" class="btn white-text purple-btn">
                            Войти
                        </button>
                    </router-link>
                </div>
                <div class="navbar-item">
                    <router-link to="/register" class="nav-link active purple-text">
                        Зарегистрироваться
                    </router-link>
                </div>
            </div>

            <div class="navbar-links" v-if="auth">
                <div class="navbar-item">
                    <router-link to="/login" class="nav-link active" @click="logout">
                        <button type="button" class="btn white-text purple-btn">
                            Выйти
                        </button>
                    </router-link>
                </div>
                <div class="navbar-item">
                    <router-link to="/mygames" class="nav-link active purple-text">
                        Мои Игры
                    </router-link>
                </div>
                <div class="navbar-item">
                    <router-link to="/profile" class="nav-link active purple-text">
                        Профиль
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { computed } from "vue";
import { useStore } from "vuex";

export default {
    name: "NavBar",
    setup() {
        const store = useStore();

        const auth = computed(() => store.state.authenticated)

        const logout = async () => {
            await fetch('http://localhost:3000/api/auth/logout', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                credentials: 'include'
            });
            await store.dispatch('setAuth', false);
            localStorage.removeItem('isAuthenticated');
        }


        return {
            auth,
            logout
        }
    }
}
</script>

<style scoped>
@font-face {
    font-family: Dragon Hunter;
    src: url(../fonts/DragonHunter-9Ynxj.otf);
}

@font-face {
    font-family: SeoulNamsanCondensed-ExtraBold;
    src: url(../fonts/SeoulNamsanCondensed-ExtraBold.ttf);
}

@font-face {
    font-family: SeoulNamsanCondensed-Medium;
    src: url(../fonts/SeoulNamsanCondensed-Medium.ttf);
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(73, 16, 139, 0.2);
    z-index: 3;
    padding: 0;
}

.navbar-links {
    display: flex;
    flex-direction: row;
}
.navbar-item {
    margin: auto 15px auto 15px;
}
.logo {
    text-decoration: none;
    font-family: Dragon Hunter;
    font-size: 90px;
    color: #7E30E1;
}

.logo-space {
    width: 747px;
    margin: 38px 0px 37px 51px;
}

.purple-btn {
    background-color: #7E30E1;
    width: 149px;
    height: 66px;
    border-radius: 23px;
}

.white-text {
    font-family: SeoulNamsanCondensed-ExtraBold;
    font-size: 32px;
    letter-spacing: 4;
    color: #F3F8FF;
}

.purple-text {
    font-family: SeoulNamsanCondensed-Medium;
    font-size: 32px;
    letter-spacing: 4;
    color: #7E30E1;
}
</style>