<template>
  <div style="display: flex; flex-direction: column">
    <img v-for="(avatar, index) in avatars" :key="index" :src="avatar" alt="Avatar" />
  </div>
</template>

<script>
import { ref, onMounted, onBeforeUnmount } from 'vue';
import axios from 'axios';
import { useStore } from 'vuex';

export default {
  name: 'PlayerList',
  setup() {
    const store = useStore();
    const socket = ref(store.state.socket);
    const roomId = ref(store.state.roomId)
    const avatars = ref([]);
    const users = ref([]);

    const updatePlayersList = async () => {
  try {
    socket.value.emit('getUsersInRoom', roomId.value, (usersReceived) => {
      if (usersReceived!== null && usersReceived!== undefined) {
        users.value = usersReceived;

        const avatarPromises = usersReceived.map((userId) => {
          if (userId!== null && userId!== undefined) {
            return axios.get(`user/player-avatar?userId=${userId}`, { responseType: 'arraybuffer' });
          } else {
            throw new Error('UserId is null or undefined')
          }
        }).filter((promise) => promise!== null); 

        if (avatarPromises.length > 0) {
          Promise.all(avatarPromises)
           .then((responses) => {
              if (responses!== null && responses!== undefined) {
                const avatarsArray = responses.map((response) => {
                  if (response!== null && response.data!== null) {
                    const blob = new Blob([response.data], { type: 'image/jpeg' });
                    const url = URL.createObjectURL(blob);
                    return url;
                  } else {
                    throw new Error('Response is null or response.data is null')
                  }
                }).filter((url) => url!== null);
                avatars.value = avatarsArray;
              } else {
                console.error('Responses is null or undefined');
              }
            })
           .catch((error) => console.error('Error getting avatars:', error));
        } else {
          console.error('No avatar promises');
        }
      } else {
        console.error('UsersReceived is null or undefined');
      }
    });
  } catch (error) {
    console.error('Error getting users:', error);
  }
};

    onMounted(async () => {
      updatePlayersList();
    });

    socket.value.on('userAdded', () => {
      updatePlayersList();
    });

    socket.value.on('userRemoved', () => {
      updatePlayersList();
    });

    onBeforeUnmount(() => {
      socket.value.disconnect();
    });

    return { avatars };
  }
}
</script>